/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #212121;
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

body {
	background: #00796B;
	text-align: center;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
	display: inline-block;
	width: 900px;
	margin: 2em 0;
	background: #fff;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

header {
	background: #009688;
	width: 100%;
	padding: 0.8em 0 2px 0;
}

header h1 {
	margin: 0 0 0.4em 0;
	padding: 0;
	font-size: 2.4em;
	font-weight: 300;
	color: #ffffff;
}

header h1 a { color: #fff; }

nav {
	font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
nav li {
	display: inline;
	margin: 0 0.8em;
}

nav li.active {
	border-bottom: 4px solid #00796B;
}

nav li.active a { color: #fff; }

nav a {
	text-decoration: none;
	color: #B2DFDB;
	transition: all 0.3s;
}

nav a:hover {
	color: #fff;
}

.content {
	padding: 0.8em;
}

.content a {
	text-decoration: none;
	color: #009688;
	transition: all 0.5s;
}

.content a:hover {
	color: #B2DFDB;
}

.content h1 {
	font-size: 1.6em;
	font-weight: 400;
	margin: 0.4em;
	padding: 0;
	color: #212121;
}

/* Boxes */
.row {
	width: 100%;
	display: table;
	padding: 0;
	margin: 0.8em 0;
	border-spacing: 0.4em;
}

.row .half, .row .third, .row .full {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	box-sizing: border-box;
	padding: 0.2em 0.4em;
	display: table-cell;
	vertical-align: top;
	text-align: left;
	word-break: inherit;
}

.row .half {
	width: 47.8%;
	margin: 1%;
}

.row .third {
	width: 32%;
	margin: 0.5%;
}

.row .full {
	width: 98%;
	margin: 1%;
}

/* Big Text */
.row h2 {
	margin: 0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 0.2em;
	font-size: 1.4em;
	font-weight: 400;
}

/* Heading */
.row h3 {
	margin: 0;
	padding: 0.3em;
	font-size: 1.3em;
	font-weight: 400;
	color: #727272;
}

.row .sub {
	width: 100%;
	text-align: center;
	color: #b6b6b6;
}
.row .good { color: #4CAF50; }
.row .bad { color: #D32F2F; }

table.t-full {
	width: 100%;
	border: 0;
}

table.t-full tr {
    border-bottom: 1px solid #e2e2e2;
}

.no-border {
    border: 0!important;
    border-bottom: 0!important;
}

table.t-full td {
	padding: 0.2em 0;
}

.row p {
	font-size: 0.8em;
	margin: 0;
	padding: 0.2em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
