<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Icons -->
        <link rel="icon" href="favicon.png" type="image/png">
		<link rel="apple-touch-icon" href="touch-icon.png"/>

        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		
		<!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="Chart.min.js"></script>
    </head>
    <body>
		<div class="container">
			<header>
				<h1><i class="fa fa-instagram" ></i> IG Stats -
                    <a href="https://instagram.com/{{u_username}}" target="_blank" >{{u_username}}</a></h1>
				<nav>
					<ul>
						<li><a href="index.html">Today</a></li>
						<li class="active"><a href="#">Week</a></li>
						<li><a href="month.html">Month</a></li>
						<li><a href="year.html">Year</a></li>
						<li><a href="all.html">All</a></li>
						<li><a href="follower.html" >Follower</a></li>
						<li><a href="media.html" >Media</a></li>
                    </ul>
				</nav>
			</header>
			<div class="content">
				<h1>Week - data since {{since_nice}}</h1>
				<div class="sub">generated {{gentime}}</div>
				
				<div class="row" >
					<div class="third" >
						<h2><b>{{followers}}</b> Follower</h2>
						<div class="sub" id="follower_diff">{{follower_diff}}</div>
					</div>
					<div class="third" >
						<h2><b>{{following}}</b> Following</h2>
						<div class="sub" id="following_diff">{{following_diff}}</div>
					</div>
					<div class="third" >
						<h2><b>{{postcount}}</b> Posts</h2>
						<div class="sub" id="post_diff">{{post_diff}}</div>
					</div>
				</div>
                <script>
                    $(document).ready( function() {
                      $("#follower_diff:contains('-')").addClass('bad');
                      $("#follower_diff:contains('+')").addClass('good');

                      $("#following_diff:contains('-')").addClass('bad');
                      $("#following_diff:contains('+')").addClass('good');

                      $("#post_diff:contains('-')").addClass('bad');
                      $("#post_diff:contains('+')").addClass('good');
                    });
                </script>
				
				
				<div class="row">
					<div class="half">
						<h3><i class="fa fa-user-plus good" ></i> New follower ({{new_follower_count}})</h3>
						<table class="t-full" >
							{% set count = 1 %}
							{% for item in new_follower_list %}
								{% if count is odd %} <tr> {% endif %}
								<td><img src="{{item[1]}}" width="32" />
                                  <a href="https://instagram.com/{{item[0]}}" target="_blank" >{{item[0]}}</a></td>
								{% if count is even %} </tr><tr> {% endif %}
								{% set count = count + 1 %}
							{% endfor %}
							</tr>
						</table>
					</div>
					<div class="half">
						<h3><i class="fa fa-user-times bad" ></i> Lost follower ({{lost_follower_count}})</h3>
						<table class="t-full" >
							{% set count = 1 %}
							{% for item in lost_follower_list %}
								{% if count is odd %} <tr> {% endif %}
								<td><img src="{{item[1]}}" width="32" />
                                    <a href="https://instagram.com/{{item[0]}}" target="_blank" >{{item[0]}}</a></td>
								{% if count is even %} </tr><tr> {% endif %}
								{% set count = count + 1 %}
							{% endfor %}
							</tr>
						</table>
					</div>
				</div>
				
				<div class="row" >
					<div class="half" >
						<h3><i class="fa fa-line-chart"></i> Followers</h3>
						<canvas id="followers" width="400" height="300"></canvas>
						<script>
							var data = {
								labels: [{% for item in chart_followers %}"{{item[0]}}",{% endfor %}],
								datasets: [
									{
										fillColor: "rgba(151,187,205,0.5)",
										strokeColor: "rgba(151,187,205,0.8)",
										data: [{% for item in chart_followers %}{{item[1]}},{% endfor %}]
									}
								]
							}
							var ctx = document.getElementById("followers").getContext("2d");
							var myBarChart = new Chart(ctx).Line(data);
						</script>
					</div>
					<div class="half" >
						<h3><i class="fa fa-line-chart"></i> Following</h3>
						<canvas id="following" width="400" height="300"></canvas>
						<script>
							var data = {
								labels: [{% for item in chart_following %}"{{item[0]}}",{% endfor %}],
								datasets: [
									{
										fillColor: "rgba(151,187,205,0.5)",
										strokeColor: "rgba(151,187,205,0.8)",
										data: [{% for item in chart_following %}{{item[1]}},{% endfor %}]
									}
								]
							}
							var ctx = document.getElementById("following").getContext("2d");
							var myBarChart = new Chart(ctx).Line(data);
						</script>
					</div>
				</div>
				
				<div class="row" >
					<div class="half">
						<h3><i class="fa fa-heart-o" ></i> People who liked the most</h3>
						<table class="t-full" >
							{% set count = 1 %}
							{% for item in most_likers %}
								{% if count is odd %} <tr> {% endif %}
								<td><a href="https://instagram.com/{{item[0]}}" target="_blank" >{{item[0]}}
                                    ({{item[1]}})</a></td>
								{% if count is even %} </tr><tr> {% endif %}
								{% set count = count + 1 %}
							{% endfor %}
							</tr>
						</table>
					</div>
					<div class="half">
						<h3><i class="fa fa-comment-o" ></i> People who commented the most</h3>
						<table class="t-full" >
							{% set count = 1 %}
							{% for item in most_commentators %}
								{% if count is odd %} <tr> {% endif %}
								<td><a href="https://instagram.com/{{item[0]}}" target="_blank" >{{item[0]}}
                                    ({{item[1]}})</a></td>
								{% if count is even %} </tr><tr> {% endif %}
								{% set count = count + 1 %}
							{% endfor %}
							</tr>
						</table>
					</div>
				</div>
				
				<div class="row" >
					<div class="half" >
						<h3><i class="fa fa-heart-o" ></i> Most liked post</h3>
						<table class="t-full" >
							<tr class="no-border">
                            <td><a href="{{most_liked_url}}" target="_blank" >
                                <img src="{{most_liked_picurl}}" width="200" /></a></td>
							<td>
								&nbsp;<i class="fa fa-heart-o" ></i> {{most_liked_likes}} likes <br />
								&nbsp;<i class="fa fa-comment-o" ></i> {{most_liked_comments}} comments <br />
								&nbsp;<i class="fa fa-clock-o" ></i> {{most_liked_date}}<br />
								&nbsp;<i class="fa fa-map-marker" ></i> {{most_liked_location}}<br />
								<p>{{most_liked_descr}}</p>
							</td></tr>
						</table>
					</div>
					<div class="half" >
						<h3><i class="fa fa-comment-o" ></i> Most commented post</h3>
						<table class="t-full" >
							<tr class="no-border">
                            <td><a href="{{most_commented_url}}" target="_blank" >
                                <img src="{{most_commented_picurl}}" width="200" /></a></td>
							<td>
								&nbsp;<i class="fa fa-heart-o" ></i> {{most_commented_likes}} likes <br />
								&nbsp;<i class="fa fa-comment-o" ></i> {{most_commented_comments}} comments <br />
								&nbsp;<i class="fa fa-clock-o" ></i> {{most_commented_date}}<br />
								&nbsp;<i class="fa fa-map-marker" ></i> {{most_commented_location}}<br />
								<p>{{most_commented_descr}}</p>
							</td></tr>
						</table>
					</div>
				</div>
				
				<div class="row" >
					<div class="third" style="word-break: break-all;" >
						<h3><i class="fa fa-tags" ></i> Most used tags</h3>
						<table class="t-full">
							{% for item in most_tags %}
							<tr><td>
                                <a href="http://www.gramfeed.com/instagram/tags#{{item[0]}}" target="_blank" >
                                    #{{item[0]}}</a> ({{item[1]}})</td></tr>
							{% endfor %}
						</table>
					</div>
					<div class="third" >
						<h3><i class="fa fa-film" ></i> Most used filters</h3>
						<table class="t-full" >
							{% set count = 1 %}
							{% for item in most_filters %}
								{% if count is odd %} <tr> {% endif %}
								<td>{{item[0]}} ({{item[1]}})</td>
								{% if count is even %} </tr><tr> {% endif %}
								{% set count = count + 1 %}
							{% endfor %}
							</tr>
						</table>
					</div>
					<div class="third" >
						<h3><i class="fa fa-pencil-square-o" ></i> Changed usernames</h3>
						<table class="t-full">
							{% for item in changedNames %}
								<tr><td>{{item[0]}} ->
                                    <a href="https://instagram.com/{{item[1]}}" target="_blank" >{{item[1]}}</a>
                                </td></tr>
							{% endfor %}
						</table>
					</div>
				</div>
				
			</div>
		</div>
    </body>
</html>
